
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-2 px-5 mb-5 bg-white  fixed-top" >
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <p class=" h1 mb-0">Portfolio</p>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="ms-auto navbar-nav text-center">
        <a class="nav-link nav-hover px-4" href="#">Home</a>
        <a class="nav-link nav-hover px-4" href="#about">About</a>
        <a class="nav-link nav-hover px-4" href="#projects">Projects</a>
        <a class="nav-link nav-hover px-4" href="#contact">Contact</a>
      </div>
    </div>
  </div>
</nav>


<section class="home-section mt-5 py-5 " style="background-color: rgb(170, 190, 246);">
  
  <div class="container">
    <div class="row align-items-center mb-0">
      
      <!-- Text Column -->
      <div class="col-md-6">
        <h1 class="display-4 fw-bold"[@fadeInUp]>
          Hi, I'm <span class="float-animation">👋</span>  <span style="color: rgb(255, 255, 255);"> Sakthi</span>
        </h1>
        <h4 class="text-muted mt-3"[@fadeInUp] >
          <span #typedElement></span>
        </h4>
        
        <p class="lead mt-3" [@fadeInUp]>
          A passionate and eager-to-learn fresher, looking for an opportunity to contribute my skills in a dynamic 
          environment and grow professionally while adding value to the organization.
        </p>
        <a href="#projects" class="btn btn-dark btn-lg mt-3 btn-animate custom-hover" [@fadeInUp]>Hire Me !</a>
      </div>

      

       <!-- Profile Image -->
       <div id="one" class="py-5 mb-0 px-3 col-12 col-md-6  text-md-end slide-in" >
        <img src="assets/imagetwo.png"  class="img-fluid rounded-circle shadow float-animation" style="max-width: 350px; ">
      </div>
      
    </div>
  </div>
</section>

  
  